.detailsMain {
    width: 100%;
    position: relative;
    padding-top: 50px;
    padding-left: 143px;
    padding-right: 143px;
    color: black;
    display: flex;
    flex-direction: column;
}

.contentMain {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.content {
    width: 70%;
}

.contentLower {
    width: 100%;
    height: 1000px;
    margin-top: 50px;
    border-radius: 20px;
    background-color: rgb(248 250 252);
}

.actionsOuter {
    width: 30%;
    height: 60vh;
    position: sticky;
    top: 10px;
    align-self: flex-start;
    background-color: rgb(248 250 252);
    color: black;
    text-align: left;
    border-radius: 20px;
    margin-left: 30px;
    box-shadow: 0 3px 20px rgb(0 0 0 / 0.2);
}

.actionsInner {
    height: 94%;
    font-size: 15px;
    position: relative;
    margin: 20px;
}

.connectWallet {
    height: 94%;
    font-size: 15px;
    position: relative;
    margin: 20px;
    display: flex;
    flex-direction: column;
    font-size: 25px;
}

.textArea {
    white-space: pre-wrap;
    margin-top: 10px;
}

.mainImage {
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
}

.title {
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 20px;
}

.buttons {
    left: 50%;
    bottom: 0px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.donateButton {
    padding: 15px;
    font-size: 20px;
    font-weight: 700;
    width: 100%;
    color: white;
    bottom: 0px;
    background: linear-gradient(125.78deg, #e5509a 17.93%, #b02588 42.06%, #694dcb 73.89%);
    border-radius: 10px;
    margin-bottom: 10px;
}

.donateButtonYield {
    padding: 15px;
    font-size: 20px;
    font-weight: 700;
    width: 100%;
    color: white;
    bottom: 0px;
    background: linear-gradient(125.78deg, #cdd406 17.93%, #a9db29ee 42.06%, #3f9407cc 73.89%);
    border-radius: 10px;
    margin-bottom: 10px;
}

.donateButton2 {
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    width: 100%;
    color: white;
    bottom: 0px;
    background: linear-gradient(125.78deg, #e5509a 17.93%, #b02588 42.06%, #694dcb 73.89%);
    border-radius: 10px;
}

.donateButtonYield2 {
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    width: 100%;
    color: white;
    bottom: 0px;
    background: linear-gradient(125.78deg,#cdd406 17.93%, #a9db29ee 42.06%, #3f9407cc 73.89%);
    border-radius: 10px;
}

.disabledButton {
    padding: 15px;
    font-size: 20px;
    font-weight: 700;
    width: 100%;
    color: white;
    background: grey;
    border-radius: 10px;
}

.disabledText {
    font-size: 10px;
    color: red;
    width: 100%;
    text-align: center;
    visibility: var(--visibility);
    position: var(--position);
}

.shareButton {
    padding: 15px;
    font-size: 20px;
    font-weight: 700;
    width: 100%;
    color: white;
    background-color: rgb(53, 53, 215);
    border-radius: 10px;
    margin-bottom: 10px;
}

.shareButton:hover {
    color: rgb(226 232 240);
    background-color: rgb(103, 103, 245);
}

.donateButton:hover {
    color: rgb(226 232 240);
    background: linear-gradient(125.78deg, #694dcb 17.93%, #b02588 42.06%, #e5509a 73.89%);
}

.donateButton2:hover {
    color: rgb(226 232 240);
    background: linear-gradient(125.78deg, #694dcb 17.93%, #b02588 42.06%, #e5509a 73.89%);
}

.donateButtonYield:hover {
    color: rgb(226 232 240);
    background: linear-gradient(125.78deg, #3f9407cc 17.93%, #8bbd0dee 42.06%, #cdd406 73.89%);
}

.donateButtonYield2:hover {
    color: rgb(226 232 240);
    background: linear-gradient(125.78deg, #3f9407cc 17.93%, #8bbd0dee 42.06%, #cdd406 73.89%);
}

.donateOuter {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.donateIcon {
    position: relative;
    background: rgb(226, 56, 56);
    font-size: 180px;
    /* width: 50%; */
    background: linear-gradient(125.78deg, #e5509a 17.93%, #b02588 42.06%, #694dcb 73.89%);
    color: white;
    border: 1rem solid;
}

.donateIconYield {
    position: relative;
    background: rgb(226, 56, 56);
    font-size: 180px;
    /* width: 50%; */
    background: linear-gradient(125.78deg, #cdd406 17.93%, #a9db29ee 42.06%, #3f9407cc 73.89%);
    color: white;
    border: 1rem solid;
}

.modalForm {
    padding: 10px;
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100%;
    align-items: center;
}

.milestoneSelector {
    height: 100%;
}

.milestoneTitle {
    font-size: 50px;
    text-align: center;
    font-weight: 500;
}

.textarea {
    white-space: pre-wrap;
    color: black;
    width: 50%;
    font-size: 20px;
}

.newFund {
    color: black;
    background-color: #fafafa;
    border-radius: 10px;
}

.formSection {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    gap: 10px;
    padding-bottom: 15px;
    width: 100%;
}

.forumLink {
    background-color: green;
    padding: 15px;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    text-align: center;
    background: linear-gradient(125.78deg, #2a25b0 42.06%, #694dcb 73.89%);
}

@media (max-width: 1200px) {
    .detailsMain {
        padding-left: 86px;
        padding-right: 86px;
    }
}

@media (max-width: 1000px) {
    .detailsMain {
        padding-left: 25px;
        padding-right: 25px;
    }
}

@media (max-width: 900px) {
    .contentMain {
        flex-direction: column;
    }
    .content {
        width: 100%;
    }
    .title {
        font-size: 40px;
    }
    .actionsOuter {
        width: 60%;
        margin-left: 0px;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    .buttons {
        padding-left: 15%;
        padding-right: 15%;
    }
}
